.sizer{
    width: 60%;
}
.bg{
    background-color: rgb(12, 13, 15);
    color: white;
}
.customimg{
    padding-top: 25%;
    padding-bottom: 10%;
}

.btn-custom1{
    background-color: rgb(44, 115, 171);
    border-color: rgb(44, 115, 171);
}
.btn-custom{
    background-color: rgb(41, 42, 44);
    border-color: rgb(41, 42, 44);
    color: white;
}
.input-custom{
    background-color: rgb(12, 13, 15);
    color: white;
    border-radius: 0;
}
hr{
    background-color: rgb(37, 38, 40);
}
.copytext{
    color: rgb(154, 155, 156);
}
.form-group{
    padding-bottom: 10px;
}
.spacer{
    padding-bottom: 10%;
}